<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <h2>Last prices:</h2>
        <h3>bitcoin: {{btcPrice}}</h3>
        <h3>litecoin: {{ltcPrice}}</h3>
        <h2>Highest prices ({{getCurrentMonth}}):</h2>
        <h3>bitcoin: {{btcHigh}}</h3>
        <h3>litecoin: {{ltcHigh}}</h3>
    </body>
</html>